# Conda environment
layout anaconda raysort

# Make Python output unbuffered
export PYTHONUNBUFFERED=1

# Set cache directory for Terraform plugins
export TF_PLUGIN_CACHE_DIR="$HOME/.terraform.d/plugin-cache"

# A bug in Terraform AWS requires us to set this environment variable
export AWS_DEFAULT_REGION=us-west-2
