---
- hosts: all
  gather_facts: false
  strategy: free
  vars:
    head_ip: 0.0.0.0
    mnt_paths:
      - /mnt/data0
    tmpfs_path: /mnt/tmpfs
    workdir: ~/raysort
    pythondir: ~/miniconda3/envs/raysort/bin
    clear_data_dir: false
    ray_object_manager_port: 8076
    ray_merics_export_port: 8090
    ray_object_store_memory: "{{ 28 * 1024 * 1024 * 1024 }}"
  environment:
    RAY_STORAGE: "s3://{{ lookup('env', 'S3_BUCKET') }}"
  tasks:
    - name: Sync Ray patches
      ansible.posix.synchronize:
        src: "{{ workdir }}/ray-patch/"
        dest: "{{ pythondir }}/../lib/python3.9/site-packages/ray/"

    - name: Clear tmpfs
      ansible.builtin.file:
        path: "{{ tmpfs_path }}/raysort"
        state: absent

    - name: Clear raysort directories
      become: true
      ansible.builtin.file:
        path: "{{ item }}/raysort"
        state: absent
      loop: "{{ mnt_paths }}"
      when: clear_data_dir

    - name: Restart Ray
      ansible.builtin.shell: >
        {{ pythondir }}/ray stop -f &&
        sleep 3 &&
        nohup
        {{ pythondir }}/ray start
        --address={{ head_ip }}:6379
        --object-manager-port={{ ray_object_manager_port }}
        --metrics-export-port={{ ray_merics_export_port }}
        --resources='{"worker":1}'
        --object-store-memory={{ ray_object_store_memory }}
      changed_when: true
