---
- hosts: all
  strategy: free
  vars:
    data_disk: /dev/nvme1n1
    data_partition: /dev/nvme1n1p1
    mnt_path: /mnt/ebs0
    tmpfs_path: /mnt/tmpfs
    awsdir: ~/.aws
    workdir: ~/raysort
    pythondir: ~/miniconda3/envs/raysort/bin
    hosts_path: /etc/hosts
    hadoop_config_path: /opt/hadoop/etc/hadoop
    spark_config_path: /opt/spark/conf
  tasks:
    - name: Create a partition table and a partition
      become: yes
      parted:
        device: "{{data_disk}}"
        number: 1
        state: present
        label: gpt
        name: data0
        fs_type: ext4
      when: data_disk | bool

    - name: Create a filesystem on the partition
      become: yes
      filesystem:
        fstype: ext4
        dev: "{{data_partition}}"
      when: data_partition

    - name: Create data disk mount point
      become: yes
      file:
        path: "{{mnt_path}}"
        state: directory
      when: mnt_path

    - name: Mount the data disk
      become: yes
      mount:
        path: "{{mnt_path}}"
        src: "{{data_partition}}"
        fstype: ext4
        state: mounted
      when: mnt_path and data_partition

    - name: Create tmpfs mount point
      become: yes
      file:
        path: "{{tmpfs_path}}"
        state: directory

    - name: Mount tmpfs
      become: yes
      mount:
        path: "{{tmpfs_path}}"
        src: tmpfs
        fstype: tmpfs
        state: mounted

    - name: Set tmpfs permission
      become: yes
      file:
        path: "{{tmpfs_path}}"
        state: directory
        mode: "777"

    - name: Clear temp directories
      become: yes
      file:
        path: "{{mnt_path}}/tmp"
        state: "{{item}}"
        mode: "777"
      loop:
        - absent
        - directory
      when: mnt_path

    - name: Sync aws directory
      synchronize:
        src: "{{awsdir}}/"
        dest: "{{awsdir}}"
        delete: yes

    - name: Sync workdir
      synchronize:
        src: "{{workdir}}/"
        dest: "{{workdir}}"
        delete: yes
        rsync_opts:
          - --exclude=.git
          - --exclude=data

    - name: Install Python dependencies
      shell: "{{pythondir}}/pip install -Ur {{workdir}}/requirements/worker.txt"

    - name: Install project packages
      shell: |
        cd {{workdir}} && {{pythondir}}/pip install -e .
        cd {{workdir}}/raysort/sortlib && {{pythondir}}/python setup.py build_ext --inplace

    - name: Set soft and hard ulimit
      become: yes
      community.general.pam_limits:
        domain: "*"
        limit_type: "{{item}}"
        limit_item: nofile
        value: 65535
      loop:
        - hard
        - soft

    - name: Check Hadoop files exist
      local_action: stat path={{hadoop_config_path}}
      register: hadoop

    - name: Sync hosts file
      become: yes
      copy:
        src: "{{hosts_path}}"
        dest: "{{hosts_path}}"
      when: hadoop

    - name: Copy Hadoop core-site.xml
      copy:
        src: "{{hadoop_config_path}}/core-site.xml"
        dest: "{{hadoop_config_path}}/core-site.xml"
      when: hadoop

    - name: Copy Hadoop yarn-site.xml
      copy:
        src: "{{hadoop_config_path}}/yarn-site.xml"
        dest: "{{hadoop_config_path}}/yarn-site.xml"
      when: hadoop

    - name: Start Node Exporter
      shell: >
        nohup
        {{workdir}}/raysort/bin/node_exporter/node_exporter
        --web.listen-address 0.0.0.0:8091 &
