---
- hosts: all
  vars:
    data_disk: /dev/nvme1n1
    ssd_device: /dev/nvme1n1p1
    mnt_path: /mnt/nvme0
    workdir: /home/ubuntu/raysort
    pythondir: /home/ubuntu/miniconda3/envs/raysort/bin
  tasks:
    - name: Create a new ext4 partition
      become: yes
      parted:
        device: "{{data_disk}}"
        number: 1
        state: present
        label: gpt
        name: data0
        fs_type: ext4

    - name: Create filesystem on nvme
      become: yes
      filesystem:
        fstype: ext4
        dev: "{{ssd_device}}"

    - name: Create mount directory
      become: yes
      file:
        path: "{{mnt_path}}"
        state: directory

    - name: Mount nvme
      become: yes
      mount:
        path: "{{mnt_path}}"
        src: "{{ssd_device}}"
        fstype: ext4
        state: mounted

    - name: Clear nvme temp directory
      become: yes
      file:
        path: "{{mnt_path}}/tmp"
        state: "{{ item }}"
        mode: "777"
      with_items:
        - absent
        - directory

    - name: Sync workdir
      synchronize:
        src: "{{workdir}}/"
        dest: "{{workdir}}"
        delete: yes
        recursive: yes
        rsync_opts:
          - --exclude=.git
          - --exclude=data

    - name: Setup Python
      shell: "{{pythondir}}/pip install -Ur {{workdir}}/requirements/worker.txt"

    - name: Install Python package
      shell: "cd {{workdir}} && {{pythondir}}/pip install -e ."

    - name: Install Cython package
      shell: "cd {{workdir}}/raysort/sortlib && {{pythondir}}/python setup.py build_ext --inplace"

    - name: Set soft and hard ulimit
      become: yes
      community.general.pam_limits:
        domain: "*"
        limit_type: "{{ item }}"
        limit_item: nofile
        value: 65535
      with_items:
        - hard
        - soft
