---
- hosts: all
  vars:
    data_disk: /dev/nvme1n1
    ssd_device: /dev/nvme1n1p1
    mnt_path: /mnt/nvme0
    workdir: /home/ubuntu/raysort
    pythondir: /home/ubuntu/miniconda3/envs/raysort/bin
    hosts_path: /etc/hosts
    hadoop_config_path: /opt/hadoop/etc/hadoop
  tasks:
    - name: Create a new ext4 partition
      become: yes
      parted:
        device: "{{data_disk}}"
        number: 1
        state: present
        label: gpt
        name: data0
        fs_type: ext4

    - name: Create filesystem on nvme
      become: yes
      filesystem:
        fstype: ext4
        dev: "{{ssd_device}}"

    - name: Create mount directory
      become: yes
      file:
        path: "{{mnt_path}}"
        state: directory

    - name: Mount nvme
      become: yes
      mount:
        path: "{{mnt_path}}"
        src: "{{ssd_device}}"
        fstype: ext4
        state: mounted

    - name: Clear nvme temp directory
      become: yes
      file:
        path: "{{mnt_path}}/tmp"
        state: "{{ item }}"
        mode: "777"
      with_items:
        - absent
        - directory

    - name: Sync hosts
      become: yes
      copy:
        src: "{{hosts_path}}"
        dest: "{{hosts_path}}"

    - name: Copy Hadoop core-site.xml
      copy:
        src: "{{hadoop_config_path}}/core-site.xml"
        dest: "{{hadoop_config_path}}/core-site.xml"

    - name: Copy Hadoop yarn-site.xml
      copy:
        src: "{{hadoop_config_path}}/yarn-site.xml"
        dest: "{{hadoop_config_path}}/yarn-site.xml"
