---
- hosts: all
  vars:
    data_disk: /dev/disk/azure/scsi1/lun0
    ssd_device: /dev/disk/azure/scsi1/lun0-part1
    mnt_path: /mnt/nvme0
    workdir: /home/azureuser/raysort
    pythondir: /home/azureuser/miniconda3/envs/raysort/bin
  tasks:
    - name: Create a new ext4 partition
      become: yes
      parted:
        device: "{{data_disk}}"
        number: 1
        state: present
        label: gpt
        name: data0
        fs_type: ext4

    - name: Create filesystem on nvme
      become: yes
      filesystem:
        fstype: ext4
        dev: "{{ssd_device}}"

    - name: Create mount directory
      become: yes
      file:
        path: "{{mnt_path}}"
        state: directory

    - name: Mount nvme
      become: yes
      mount:
        path: "{{mnt_path}}"
        src: "{{ssd_device}}"
        fstype: ext4
        state: mounted

    - name: Create nvme temp directory
      become: yes
      file:
        path: "{{mnt_path}}/tmp"
        state: directory
        mode: "777"

    - name: Remove workdir
      file:
        path: "{{workdir}}"
        state: absent

    - name: Sync workdir
      synchronize:
        src: /home/azureuser/raysort/
        dest: "{{workdir}}"
        rsync_opts:
          - --exclude=.git
          - --exclude=data

    - name: Setup Python
      shell: "{{pythondir}}/pip install -r {{workdir}}/requirements/worker.txt"

    - name: Install Python package
      shell: "cd {{workdir}} && {{pythondir}}/pip install -e ."

    - name: Install Cython package
      shell: "cd {{workdir}}/raysort/sortlib && {{pythondir}}/python setup.py build_ext --inplace"

    - name: Set soft ulimit
      become: yes
      community.general.pam_limits:
        domain: "*"
        limit_type: soft
        limit_item: nofile
        value: 65535

    - name: Set hard ulimit
      become: yes
      community.general.pam_limits:
        domain: "*"
        limit_type: hard
        limit_item: nofile
        value: 65535
